# Calculating the Accuracy of the Model

Using the same dataset, expand the model by including all other features into the regression. 

Moreover, calculate the accuracy of the model and create a confusion matrix

## Import the relevant libraries

In [3]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

## Load the data

Load the ‘Bank_data.csv’ dataset.

In [26]:
raw_data=pd.read_csv("Bank-data.csv")
raw_data.head()

   Unnamed: 0  interest_rate  credit  march  may  previous  duration    y
0           0          1.334     0.0    1.0  0.0       0.0     117.0   no
1           1          0.767     0.0    0.0  2.0       1.0     274.0  yes
2           2          4.858     0.0    1.0  0.0       0.0     167.0   no
3           3          4.120     0.0    0.0  0.0       0.0     686.0  yes
4           4          4.856     0.0    1.0  0.0       0.0     157.0   no

In [27]:
df=raw_data.rename(columns={"y":"exito"}).copy()

In [28]:
df=df.drop(columns=["Unnamed: 0"])
df.head()

   interest_rate  credit  march  may  previous  duration exito
0          1.334     0.0    1.0  0.0       0.0     117.0    no
1          0.767     0.0    0.0  2.0       1.0     274.0   yes
2          4.858     0.0    1.0  0.0       0.0     167.0    no
3          4.120     0.0    0.0  0.0       0.0     686.0   yes
4          4.856     0.0    1.0  0.0       0.0     157.0    no

### Declare the dependent and independent variables

Use 'duration' as the independet variable.

In [41]:
x=df["duration"]
y=df["exito"].map({"yes":1, "no":0})

In [42]:
x_const=sm.add_constant(x)

In [43]:
Log_reg_mod=sm.Logit(y, x_const)
res_reg_log=Log_reg_mod.fit()

Optimization terminated successfully.
         Current function value: 0.546118
         Iterations 7

In [44]:
b0=res_reg_log.params[0]
b1=res_reg_log.params[1]

C:\Users\CHOPPE\AppData\Local\Temp\ipykernel_39808\662050382.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  b0=res_reg_log.params[0]
C:\Users\CHOPPE\AppData\Local\Temp\ipykernel_39808\662050382.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  b1=res_reg_log.params[1]

In [46]:
def array_reg_log(x,b0,b1):
    return np.exp(b0+b1*x)/(1+np.exp(b0+b1*x))

In [49]:
y_predict=array_reg_log(x,b0, b1)
y_predict.describe

<bound method NDFrame.describe of 0      0.249369
1      0.425713
2      0.300195
3      0.858983
4      0.289566
         ...
513    0.341365
514    0.918365
515    0.445822
516    0.672160
517    0.274049
Name: duration, Length: 518, dtype: float64>

### Simple Logistic Regression

Run the regression and graph the scatter plot.

## Expand the model

We can be omitting many causal factors in our simple logistic model, so we instead switch to a multivariate logistic regression model. Add the ‘interest_rate’, ‘march’, ‘credit’ and ‘previous’ estimators to our model and run the regression again.

### Declare the independent variable(s)

### Confusion Matrix

Create the confusion matrix of the model and estimate its accuracy.

<i> For convenience we have already provided you with a function that finds the confusion matrix and the model accuracy.</i>

In [ ]:
def confusion_matrix(data,actual_values,model):
        
        # Confusion matrix 
        
        # Parameters
        # ----------
        # data: data frame or array
            # data is a data frame formatted in the same way as your input data (without the actual values)
            # e.g. const, var1, var2, etc. Order is very important!
        # actual_values: data frame or array
            # These are the actual values from the test_data
            # In the case of a logistic regression, it should be a single column with 0s and 1s
            
        # model: a LogitResults object
            # this is the variable where you have the fitted model 
            # e.g. results_log in this course
        # ----------
        
        #Predict the values using the Logit model
        pred_values = model.predict(data)
        # Specify the bins 
        bins=np.array([0,0.5,1])
        # Create a histogram, where if values are between 0 and 0.5 tell will be considered 0
        # if they are between 0.5 and 1, they will be considered 1
        cm = np.histogram2d(actual_values, pred_values, bins=bins)[0]
        # Calculate the accuracy
        accuracy = (cm[0,0]+cm[1,1])/cm.sum()
        # Return the confusion matrix and 
        return cm, accuracy

In [ ]:
## Ejemplo asignacion de vendedor por secuencia 
import shelve

# Lista de vendedores en orden de rotación
VENDEDORES = ["Kevin", "Oscar", "Pablo"]

def asignar_oportunidad():
    """
    Asigna un vendedor a la siguiente oportunidad de manera secuencial (round-robin)
    y guarda el número de la última oportunidad asignada de forma persistente.
    """
    with shelve.open("oportunidades_data") as db:
        # Recuperar el número actual o iniciar en 0 si no existe
        numero = db.get("numero_oportunidad", 0)

        # Calcular el vendedor según el orden. Al dividir el numero entre la longitud de la lista es decir 3 el resto de la division o es 1 o es 2 o es 0
        vendedor = VENDEDORES[numero % len(VENDEDORES)]

        # Incrementar el número para la siguiente oportunidad
        db["numero_oportunidad"] = numero + 1

    print(f"Oportunidad #{numero + 1} asignada a {vendedor}")
    return vendedor


# Ejemplo de uso
if __name__ == "__main__":
    for _ in range(20):
        asignar_oportunidad()

Oportunidad #11 asignada a Oscar
Oportunidad #12 asignada a Pablo
Oportunidad #13 asignada a Kevin
Oportunidad #14 asignada a Oscar
Oportunidad #15 asignada a Pablo
Oportunidad #16 asignada a Kevin
Oportunidad #17 asignada a Oscar
Oportunidad #18 asignada a Pablo
Oportunidad #19 asignada a Kevin
Oportunidad #20 asignada a Oscar
Oportunidad #21 asignada a Pablo
Oportunidad #22 asignada a Kevin
Oportunidad #23 asignada a Oscar
Oportunidad #24 asignada a Pablo
Oportunidad #25 asignada a Kevin
Oportunidad #26 asignada a Oscar
Oportunidad #27 asignada a Pablo
Oportunidad #28 asignada a Kevin
Oportunidad #29 asignada a Oscar
Oportunidad #30 asignada a Pablo